* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s ease-in-out;
    list-style-type: none;
    scroll-behavior: smooth;
    /* scrollbar-color: red; */
}

.line {
    height: 4px;
    width: 100%;
    background-color: rgb(31, 30, 30);
}

.inline {
    height: 3px;
    width: 30%;
    background-color: gold;
}

.border-gold {
    border-bottom: solid 1px gold !important;
    border-top: solid 1px gold !important;
}
.border-gold2{
    border: solid 1px gold !important;

}

h1,
h2,
h3 {

    font-family: "Urbanist", sans-serif;
  
    font-optical-sizing: auto;

}

p,
a,
li {
    font-family: "Roboto", sans-serif;

}

.container-fluid {
    padding: 0 3rem !important;
}

.gold {
    /* color: gold !important; */
    color: #ffcc00 !important;
}

.bg-gold {
    background-color: #ffcc00;
}

.service-section {
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
}
/* From Uiverse.io by vk-uiux */ 
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  cursor: pointer;
  margin: auto;
  display: block;
  height: calc(4px * 3 + 11px * 2);
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: calc(4px / 2);
  background: gold;
  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
}

/***** Spin Animation *****/

.bar--top {
  bottom: calc(50% + 11px + 4px/ 2);
  transition-property: bottom,transform;
  transition-delay: calc(0s + 0.35s),0s;
}

.bar--middle {
  top: calc(50% - 4px/ 2);
  transition-property: opacity;
  transition-delay: calc(0s + 0.35s);
}

.bar--bottom {
  top: calc(50% + 11px + 4px/ 2);
  transition-property: top,transform;
  transition-delay: calc(0s + 0.35s),0s;
}

#checkbox:checked + .toggle .bar--top {
  bottom: calc(50% - 4px/ 2);
  transform: rotate(135deg);
  transition-delay: 0s,calc(0s + 0.35s);
}

#checkbox:checked + .toggle .bar--middle {
  opacity: 0;
  transition-duration: 0s;
  transition-delay: calc(0s + 0.35s);
}

#checkbox:checked + .toggle .bar--bottom {
  top: calc(50% - 4px/ 2);
  transform: rotate(225deg);
  transition-delay: 0s,calc(0s + 0.35s);
}

/* desktop */
@media screen and (min-width:768px) {
    h1 {
        font-size: 4rem !important;
    }
    .dropdown-item:hover{
     background-color: gold !important;
     color: black !important;
     font-size: 1.2rem;
    }
    .hero-section {
        background-image: url('./assets/images/man-experiencing-virtual-reality.jpg');
        background-size: cover;
        background-blend-mode: overlay;
        border-bottom-left-radius: 4rem;
        border-bottom-right-radius: 4rem;
        height: 40rem !important;
    }

    .about-section {
        background-color: #37444c;
    }

    .card-img:hover {
        transform: scale(1.1);
    }

    .why-writeup {
        position: absolute;
        top: 30%;
    }

    .service-section {
        background-color: goldenrod;
    }
    .why-ul li{
        font-size: 2rem !important;
    }
  
}

/* mobile */
@media screen and (max-width:768px) {
    h1 {
        font-size: 3rem !important;
    }
     .dropdown-item:hover{
     background-color: gold !important;
     color: black !important;
     font-size: 1.2rem;
    }
    .navbar-nav{
        padding: 2rem !important;
    }
    .container-fluid {
        padding: 0 1rem !important;
    }

    .hero-section {
        background-image: url('./assets/images/man-experiencing-virtual-reality.jpg');
        background-size: cover;
        background-blend-mode: overlay;
        height: 37rem !important;
        background-position: center;
    }

    .service-section {
        background-color: goldenrod;
    }
    .why-writeup {
        position: absolute;
        top: 12%;
        font-size: 1rem !important;
    }
    .why-ul li{
        font-size: 1rem !important;
    }
     .why-writeup h1{
        font-size: 2rem !important;
    }
}
@media screen and (min-width:800px ) {
       .why-writeup {
        position: absolute;
        top:4rem;
        font-size: 1rem !important;
    }
    .why-ul li{
        font-size: 1.5rem !important;
    }
     .why-writeup h1{
        /* font-size: 4rem !important; */
    }
    
}     
@media screen and (min-width:1024px ) {
       .why-writeup {
        position: absolute;
        top:30%;
        font-size: 1rem !important;
    }
    .why-ul li{
        font-size: 1.5rem !important;
    }
     .why-writeup h1{
        /* font-size: 4rem !important; */
    }
}     
@media screen and (width:344px ) {
     .fold{
        display: none !important;
     }
}   